{{>header}}
{{>headerCoordinador}}
<div class="container">
    <div class="row">
        <h2>Nuevo Curso</h2>
    </div>
    <div class="row">
        <form action="/crearCurso" method="POST">
            <div class="form-row">
            <div class="form-group col-md-4">
                <label for="txtId">Identificador:*</label>
                <input type="text" class="form-control" id="txtId" name="txtId" placeholder="" required>
            </div>
            <div class="form-group col-md-4">
                <label for="txtDescripcion">Descripción:*</label>
                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="" required>
            </div>
            <div class="form-group col-md-4">
                <label for="txtValor">Valor:*</label>
                <input type="number" class="form-control" id="txtValor" name="txtValor" placeholder="" required>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cbxModalidad">Modalidad:</label>                
                <select id="cbxModalidad" name="cbxModalidad" class="form-control">
                    <option value="presencial">Presencial</option>
                    <option value="virtual">Virtual</option>                    
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="txtIntensidad">Intensidad Horaria:</label>
                <input type="number" class="form-control" id="txtIntensidad" name="txtIntensidad" placeholder="">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <a class="btn btn-secondary" href="/coordinador" role="button">Cancelar</a>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{>footer}}