<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">TdeA</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/aspirante">Inscripcion <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <span style="margin-right: 5%" class="navbar-text">
                    {{correo}}
                </span>
                <a class="btn btn-outline-danger my-2 my-sm-0" href="/" role="button">Salir</a>
            </div>
        </nav>
    </header>