{{>header}}
{{>headerInteresado}}
<div class="container">
    <div class="row">
        <h2>Lista de Cursos</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{{listarCursosInteresados}}}
        </div>
    </div>
</div>
{{>footer}}