{{>header}}

<body>
  <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Bienvenido</h1>
        <p class="lead">Esta es la segunda entrega de introduccion a NodeJS.</p>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <h2>Cursos Disponibles</h2>
        </div>
        <div class="row">
          {{{cursosHtml}}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-header">
            Iniciar Sesion
          </div>
          <div class="card-body">
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="selectRol">Selecciona tu rol</label>
                <select id="selectRol" name="selectRol" class="form-control">
                  <option value="Aspirante"> Aspirante</option>
                  <option value="Coordinador">Coordinador</option>
                  <option value="Asesor">Asesor</option>
                </select>
                <small id="rolHelp" class="form-text text-muted">Segun tu rol, cambiaran las opciones sobre los
                  cursos.</small>
              </div>
              <div class="form-group">
                <label for="txtCorreo">Correo Electrónico</label>
                <input type="email" class="form-control" id="txtCorreo" name="txtCorreo">
              </div>
              <div class="form-group">
                <label for="txtPassword">Contraseña</label>
                <input type="password" class="form-control" id="txtPassword" name="txtPassword">
              </div>
              <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Acceder</button>
                </div>
                <div class="col-md-6">
                  <a class="btn btn-success" href="/registro" role="button">Registrarse</a>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="floating-chat">
    <i style="font-size: 3em" class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
      <div class="header">
        <span class="title">
          Contactar un Asesor
        </span>
        <button>
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>

      </div>
      <ul class="messages">        
        <li class="self">Envía tu nombre para iniciar la asesoría</li>
      </ul>
      <div class="footer">
        <div class="text-box" contenteditable="true" disabled="true"></div>
        <button id="sendMessage">Enviar</button>
      </div>
    </div>
  </div>
  {{>footer}}